policy_module(docker_webserver,1.0.0)
# Author: Nikhil Ranjan Nayak
# Web: https://github.com/nikhilnayak98/csvs
# Email: Nikhil-Ranjan.Nayak@warwick.ac.uk
# Description: SELinux policy template.
#               (Citation 1: Peter Norris, https://moodle.warwick.ac.uk/pluginfile.php/2256652/mod_folder/content/0/selinux/docker_chat.te?forcedownload=1)
#                2021-02-24: updated with dontaudit additions
#               (Citation 2: James Dorgan, https://opensource.com/business/15/3/docker-security-tuning)
#               (Citation 3: James Dorgan, https://opensource.com/article/18/2/understanding-selinux-labels-container-runtimes)

# This template interface creates the docker_webserver_t type as a
# type which can be run as a docker container. To see what it does, look in 
# /usr/share/selinux/devel/include/contrib/virt.if
virt_sandbox_domain_template(docker_webserver);

################# put audit2allow rules in here ##############
require {
        type mysqld_port_t;
        type node_t;
        type http_port_t;
        type container_runtime_t;
        class process2 nnp_transition;
        class capability { chown net_bind_service setgid setuid };
        class tcp_socket { accept bind connect create getattr getopt listen name_bind name_connect node_bind setopt read write};
        class udp_socket create;
}

#============= docker_webserver_t ==============
allow container_runtime_t docker_webserver_t:process2 nnp_transition;
allow docker_webserver_t http_port_t:tcp_socket name_bind;
allow docker_webserver_t mysqld_port_t:tcp_socket name_connect;
allow docker_webserver_t node_t:tcp_socket node_bind;
allow docker_webserver_t self:capability { chown net_bind_service setgid setuid };
allow docker_webserver_t self:tcp_socket { accept bind connect create getattr getopt listen setopt read write};
allow docker_webserver_t self:udp_socket create;
################# end audit2allow additions ##################

# Permissive domains allow processes to not be blocked by SELinux
# Remove this rule, when you are confident in the policy.
#permissive docker_webserver_t;

