policy_module(docker_dbserver,1.0.0)
# Author: Nikhil Ranjan Nayak
# Web: https://github.com/nikhilnayak98/csvs
# Email: Nikhil-Ranjan.Nayak@warwick.ac.uk
# Description: SELinux policy template.
#               (Citation 1: Peter Norris, https://moodle.warwick.ac.uk/pluginfile.php/2256652/mod_folder/content/0/selinux/docker_chat.te?forcedownload=1)
#                2021-02-24: updated with dontaudit additions
#
#               (Citation 2: James Dorgan, https://opensource.com/business/15/3/docker-security-tuning)
#               (Citation 3: James Dorgan, https://opensource.com/article/18/2/understanding-selinux-labels-container-runtimes)

# This template interface creates the docker_dbserver_t type as a
# type which can be run as a docker container. To see what it does, look in 
# /usr/share/selinux/devel/include/contrib/virt.if
virt_sandbox_domain_template(docker_dbserver);

################# put audit2allow rules in here ##############
require {
        type mysqld_port_t;
        type node_t;
        type container_runtime_t;
        class process2 nnp_transition;
        class tcp_socket { bind create listen setopt accept getattr read write };
        class netlink_route_socket { create getattr nlmsg_read };
}

#============= docker_dbserver_t ==============
# allows for container restart while selinux is enforced on host
allow container_runtime_t docker_dbserver_t:process2 nnp_transition;
# describes the ports associated with dbserver, required for application binding to a port
allow docker_dbserver_t mysqld_port_t:tcp_socket name_bind;
# node_bind permission determines whether a socket can be bound to a specific type of node
allow docker_dbserver_t node_t:tcp_socket node_bind;
allow docker_dbserver_t self:netlink_route_socket { create getattr nlmsg_read };
# basic tcp rules for dbserver
# read, write rules allow for the container to run with selinux enforced on the host
allow docker_dbserver_t self:tcp_socket { bind create listen setopt accept getattr read write};
################# end audit2allow additions ##################
# Permissive domains allow processes to not be blocked by SELinux
# Remove this rule, when you are confident in the policy.
#permissive docker_dbserver_t;

